body {
    background-image: url("google_logo.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-position-y: 30px;
    font-family: "";
   }

    #nav-bar {
    text-align: right;
    list-style-type: none;
    margin: 0%;
    padding-right: 20px;

  }

  li {
    display: inline;

  }

   .input {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    box-shadow: 0 0 10px #719ECE;
    margin-top: 150px;
    margin-left: 400px;
    padding-left: 40px;
    clear: both;
    outline: none;
    background-image:url('search-icon.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 2% 50%;
  }

  .button {
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(190, 190, 190);
    width: 100px;
    outline: none !important;
  }

  .pp-img {
    margin-left: 10px;
    border-radius: 20px;
    background-image: 0% 50%;
    position: relative;
    top: 7px;
  }

  .input-button {
    margin-left: -50px;
    height: 40px;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    background-image: url('mic.png');
    background-color: white;
    background-position: 50% 50%;
    background-size: 15px 20px;
    background-repeat: no-repeat;
    outline: none;
  }

  a:visited {
    color: black;    
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: #5f6368;

  }

  .button-container {
    border-style: none;
    border-radius: 20px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button-search {
    border-style: none;
    border-radius: 20px;
    height: 40px;
    
  }


  .button-lucky {
    border-style: none;
    border-radius: 20px;
    height: 40px;
    
  }

